.about-title {
  font-size: 3rem;
}

.about-text {
  font-size: 1.5rem;
  margin: 2rem 4rem;
}

.about-icon-container {
  margin: 5rem;
}

.about-icon {
  width: 5rem;
  height: 5rem;
  margin: 5rem;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 2.5rem;
}

.about-icon:hover {
  padding: 2.75rem;
}

.github-icon {
  background-image: url('../images/github.png');
}

.github-icon:hover {
  background-image: url('../images/githubHover.png');
}

.twitter-icon {
  background-image: url('../images/twitter.png');
}

.twitter-icon:hover {
  background-image: url('../images/twitterHover.png');
}

.linkedin-icon {
  background-image: url('../images/linkedin.png');
}

.linkedin-icon:hover {
  background-image: url('../images/linkedinHover.png');
}
