.header {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.25rem;
  align-items: center;
}

.header-button {
  border: none;
  background: none;
  font-family: 'batfont';
  font-size: 1.25rem;
  width: 19rem;
  height: 3rem;
  background-color: black;
  color: white;
}

@media (max-width: 800px) {
  .header {
    height: 6rem;
  }

  .header-button {
    font-size: 2rem;
    width: 30rem;
    height: 5rem;
  }
}
