ul {
  list-style: none;
  padding: 0;
}

button {
  border: none;
  font-family: 'batfont';
  font-size: 1.5rem;
  background: none;
  color: blue;
  cursor: pointer;
}

.hero-file-container {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}

.hero-img-container,
.hero-data,
.hero-chart {
  width: 30%;
}

.hero-img {
  width: 100%;
}

.axis {
  stroke: 0.3;
}

.scale {
  stroke: black;
  stroke-width: 0.3;
}

@media (max-width: 800px) {
  .hero-file-container {
    flex-wrap: wrap;
    font-size: 2rem;
  }

  .hero-img-container,
  .hero-data {
    width: 45%;
  }

  .hero-chart {
    width: 100%
  }
}